@font-face {
    font-family: 'NextArt';
    src: url(fonts/NEXT\ ART_Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'NextArt';
    src: url(fonts/NEXT\ ART_Light.otf);
    font-weight: light;
}
@font-face {
    font-family: 'NextArt';
    src: url(fonts/NEXT\ ART_Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'NextArt';
    src: url(fonts/NEXT\ ART_Heavy.otf);
    font-weight: heavy;
}
@font-face {
    font-family: 'NextArt';
    src: url(fonts/NEXT\ ART_SemiBold.otf);
    font-weight: semibold;
}
body{
    font-family: "Nunito Sans", serif;
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 1180px;
}
header{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    padding-top: 14px;
    color: #FDFDFD;
}
nav{
    display: flex;
    white-space: nowrap;
    font-family: "Nunito Sans", serif;
    margin-right: 49px;
    font-size: 18px;
}
nav > div{
    cursor: pointer;
}
nav > div:hover{
    color: #F2BE22;
}
.nav-item{
    margin-right: 24px;
}
.btn{
    border-radius: 4px;
    background-color: #1A3E3E;
    color: #FDFDFD;
    border: 1px solid #1A3E3E;
    font-weight: 900;
    cursor: pointer;
    padding: 16px 36px;
    font-family: "Nunito Sans", serif;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
    box-sizing: border-box;
}
.btn:hover{
    background-color: #FDFDFD;
    color: #1A3E3E;
}
.btn.consultation{
    width: 157px;
    height: 44px;
    padding: unset;
}
.logo img{
    cursor: pointer;
}
.title{
    padding-top: 400px;
    font-size: 50px;
    line-height: 150%;
    margin-bottom: 41px;
    margin-top: 0;
    font-family: 'NextArt';
    font-weight: bold;
}
.start{
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FDFDFD;
    padding-bottom: 82px;
}
.program select{
    display: block;
    width: 270px;
    height: 52px;
    background: none;
    border: 1px solid #E1E3E4;
    padding: 14px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #FDFDFD;
    font-family: "Nunito Sans", serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}
.program select:focus{
    outline: none;
}
.program select option{
    color:#1A3E3E;
    font-weight: bold;
    line-height: 200%;
}
.program input[type='date']{
    display: block;
    width: 270px;
    height: 52px;
    background: none;
    border: 1px solid #E1E3E4;
    padding: 14px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #FDFDFD;
    font-family: "Nunito Sans", serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    appearance: none;
}
.program label{
    font-family: "Nunito Sans", serif;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}
.program{
    display: flex;
    gap: 24px;
    background-color: rgba(255, 255, 255, 20%);
    padding: 40px 42px;
    border-radius: 10px;
}
.form-btn{
    width: 270px;
    height: 52px;
    background-color: #FDFDFD;
    color: #1A3E3E;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.form-btn:hover {
    background-color: #1A3E3E;
    border: 1px solid #FDFDFD;
    color: #FDFDFD;
}
.about{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.about_imgs{
    position: relative;
    height: auto;
}
.about_imgs img{
    padding-top: 0;
}
.about.second_pic{
    position: absolute;
    left: 130px;
    top: 126px;
}
.about_text{
    width: 580px;
    margin-top: 64px;
}
span{
    color: #F2BE22;
    font-weight: bold;
    font-size: 24px;
    font-weight: normal;
}
h2{
    font-size: 32px;
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 40px;
}
.about_text p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 49px;
}
.programs_text {
    max-width: 580px;
}
.benefit{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 16px;
}
.programs_text > p{
    font-size: 18px;
    margin-bottom: 40px;
}
.benefit h3, p {
    margin: 0;
}
.benefit p {
    width: 514px;
    font-size: 14px;
}
.benefit h3{
    font-size: 18px;
    margin-bottom: 4px;
}
.img_bg{
    background-color: #E5EEEB;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_bg img{
    width: 36px;
    height: 36px;
}
.program_img{
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.program_img.one {
    border-radius: 0 50px 0 50px;
    background-image: url(images/p1.jpg);
}
.program_img.two {
    border-radius: 50px 0 50px 0;
    background-image: url(images/p2.jpg);
}
.program_img.three {
    border-radius: 50px 0 50px 0;
    background-image: url(images/p3.jpg);
}
.program_img.four {
    border-radius: 0 50px 0 50px;
    background-image: url(images/p4.jpg);
}
.programs{
    background-color: #F3F5F4;
    padding-top: 80px;
    padding-bottom: 100px;
}
.programs .container{
    display: flex;
    justify-content: space-between;
}
.programs_imgs{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 510px;
    margin-top: 40px;
}
.popular{
    padding-top: 80px;
    padding-bottom: 100px;
}
.popular_text{
    text-align: center;
}
.popular_text h2{
    margin-bottom: 50px;
}
.popular_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}
.popular_card{
    border-radius: 32px;
    height: 500px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    overflow: hidden;
}
.popular_card.first{
    background-image: url(images/lake.jpg);
}
.popular_card.second{
    background-image: url(images/night.jpg);
}
.popular_card.third{
    background-image: url(images/yoga.jpg);
}
.rating{
    background-color: rgba(255, 255, 255, 40%);
    width: 65px;
    height: 32px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px 0 4px 0;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
}
.rating_text{
    font-size: 14px;
    color: #1A3E3E;
    font-weight: bold;
}
.btn.rating_btn{
    display: block;
    margin: 0 auto;
}
.overlay {
    width: -webkit-fill-available;
    height: 100%;
    background-color: rgba(255, 255, 255, 20%);
    position: absolute;
    top: 410px;
    backdrop-filter: blur(6px);
    border-radius: 32px;
    padding: 20px 32px;
    box-sizing: border-box;
    transition: top 2s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.overlay:hover{
    top: 0px;
}
.price_inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: white;
    width: 100%;
}
.price_text h3{
    margin: 0;
    font-size: 24px;
}
.price_text span {
    color: white;
    font-size: 14px;
}
.price{
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 30%);
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
}
.overlay_btn{
    padding: 12px 24px;
}
.blog {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F3F5F4;
}
.blog_heading{
    text-align: center;
}
.blog_card_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 6px;
    width: 230px;
    height: auto;
}
.blog_card_img.first{
    background-image: url(images/italy.jpg);
}
.blog_card_img.second{
    background-image: url(images/plane.jpg);
}
.blog_card_img.third{
    background-image: url(images/journey.jpg);
}
.blog_card_img.fourth{
    background-image: url(images/india.jpg);
}
.blog_card{
    padding: 16px;
    width: 580px;
    height: 312px;
    display: flex;
    justify-content: space-between;
    background-color: #FDFDFD;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 24px;
    box-shadow: 0 0 15px rgba(24, 28, 30, 12%);
}
.blog_card_text{
    width: 294px;
    position: relative;
}
.blog_card_text h3{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    cursor: pointer;
}
.blog_card_text h3:hover, .read_article:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: #1A3E3E;
}
.blog_card_text p {
    font-size: 14px;
}
.blog_card_bottom span{
    font-size: 14px;
    font-weight: bold;
}
.blog_card_bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.read_article {
    color: #1A3E3E;
    cursor: pointer;
}
.blog_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.other_btn{
    display: block;
    margin: 0 auto;
}
.gallery{
    padding-top: 86px;
}
.gallery_heading{
    text-align: center;
}
.photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: auto;
    height: 520px;
    margin-bottom: 50px;
}
.photo{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 6px;
}
.photo.first { 
    grid-area: 1 / 1 / 2 / 3;
    background-image: url(images/photo1.jpg);
}
.photo.second { 
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(images/photo2.jpg);
}
.photo.third { 
    grid-area: 1 / 4 / 2 / 5;
    background-image: url(images/photo3.jpg);
}
.photo.fourth { 
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(images/photo4.jpg);
}
.photo.fifth {
    grid-area: 2 / 2 / 3 / 4;
    background-image: url(images/photo5.jpg);
}
.photo.sixth { 
    grid-area: 2 / 4 / 3 / 5;
    background-image: url(images/photo6.jpg);
}
.pinterest_btn {
    display: block;
    margin: 0 auto;
}
footer{
    font-size: 14px;
}
.footer{
    padding-top: 178px;
    padding-bottom: 80px;
    background-color: #1A3E3E;
    color: #F3F5F4;
}
.footer_inf{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.phone_mail{
    white-space: nowrap;
    display: flex;
    margin-bottom: 32px;
    text-decoration: underline;
    font-weight: 600;
}
.phone_mail>a{
    margin-right: 24px;
}
.phone_mail a{
    color: #F3F5F4;
    text-decoration: none;
}
.footer_about_text{
    margin-bottom: 80px;
}
.footer_about{
    max-width: 480px;
}
.footer_services, .footer_important{
    max-width: 280px;
}
.list{
    list-style: none;
    padding-left: 0;
}
.list li {
    margin-bottom: 16px;
    display: flex;
}
.list a{
    color: #F3F5F4;
    text-decoration: none;
    margin-left: 8px;
}
.list svg{
    margin-top: 5px;
}
.footer_inf h3{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer_bottom{
    background-color: #18121E;
    padding: 24px 0;
}
.footer_bottom p{
    margin: 0;
    color: #F3F5F4;
}
.footer_bottom a {
    color: #F3F5F4;
}
.footer_bottom .container {
    display: flex;
    justify-content: space-between;
}
.new{
    border: none;
    margin-left: 8px;
    color: #1A3E3E;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    cursor: pointer;
}
.socials svg{
    margin-right: 16px;
    cursor: pointer;
}
footer a:hover{
    color: #F2BE22;
    text-decoration: underline;
}
footer svg{
    fill: #FDFDFD;
}
.socials svg:hover{
    fill: #F2BE22;
}
.list li:hover svg{
    fill: #F2BE22;
}
.list li:hover a{
    color: #F2BE22;
    text-decoration: underline;
}
.container.sign{
    position: relative;
    top: 98px;
}
.sign_up{
    padding: 40px 100px;
    background-color: #FDFDFD;
    
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 auto;
    width: auto;
    box-shadow: 0 0 15px rgba(24, 28, 30, 12%);
}
input[type="email"]{
    background-color: #F3F5F4;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 280px;
    margin-bottom: 8px;
    display: inline-block;
}
label[for="email"]{
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px;
}
.inputs{
    display: flex;
    justify-content: space-between;
}
.inputs input{
    height: 44px;
    box-sizing: border-box;
}
.sign_up p{
    font-size: 14px;
}
.btn.form{
    padding: 12px 24px;
}
.sign_up_left h2{
    font-size: 26px;
    margin: 0;
    margin-bottom: 18px;
    margin-top: 8px;
}
.sign_up_left span{
    font-size: 18px;
    margin-bottom: 8px;
}
.sign_up_right p>span{
    text-decoration: underline;
    color: inherit;
    font-size: inherit;
}
.sign_up_left{
    max-width: 380px;
}
.sign_up_right{
    max-width: 536px;
}
label[for="burger"]{
    display: none;
}
#burger{
    display: none;
}
.nav_mobile{
    display: none;
}
.program_btn_mobile{
    display: none;
}
@media screen and (max-width: 600px){
    .container{
        padding: 0 16px;
        overflow: hidden;
        width: auto;
    }
    nav, .btn.consultation{
        display: none;
    }
    h2{
        font-size: 24px;
    }
    .program{
        display: none;
    }
    .programs_imgs{
        display: none;
    }
    .sign_up{
        flex-wrap: wrap;
        padding: 24px;
    }
    .inputs{
        flex-wrap: wrap;
    }
    .title{
        font-size: 28px;
    }
    .about.first_pic{
        display: none;
    }
    .about.second_pic{
        display: none;
    }
    .about{
        display: unset;
    }
    .about_text{
        width: auto;
    }
    .benefit p{
        width: auto;
    }
    .popular_cards{
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
    }
    .popular_cards::-webkit-scrollbar{
        display: none;
    }
    .popular_card{
        height: 400px;
        min-width: 285px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    .overlay{
        top: 320px;
        padding: 20px 24px;
    }
    .overlay_text{
        font-size: 12px;
    }
    .overlay_btn {
        padding: 10px 20px;
    }
    .overlay span{
        display: none;
    }
    .overlay h3{
        font-size: 18px;
        white-space: nowrap;
    }
    .price_inf{
        gap: 24px;
    }
    .blog_cards{
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .blog_cards::-webkit-scrollbar{
        display: none;
    }
    .blog_card{
        flex-direction: column;
        justify-content: unset;
        max-width: 580px;
        height: 496px;
        gap: 0;
        padding: 0;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    .blog_card_text{
        padding: 16px;
        height: 253px;
    }
    .blog_card_text h3{
        margin-top: 0;
    }
    .blog_card_img{
        height: 280px;
        width: 100%;
        border-radius: 6px 6px 0 0;
    }
    .blog_card_bottom{
        position: absolute;
        width: 294px;
        bottom: 16px;
        display: flex
;
    justify-content: space-between;
    }
    .blog_card_text p{
        margin-bottom: 16px;
    }
    .blog_heading, .popular_text,.gallery_heading{
        text-align: left;
    }
    .blog_heading span, .popular_text span,.gallery_heading span{
        font-size: 20px;
    }
    input[type="email"]{
        margin-bottom: 16px;
    }
    .btn.form{
        margin-bottom: 24px;
    }
    .photos{
        display: flex;
        flex-direction: row;
        height: unset;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .photos::-webkit-scrollbar{
        display: none;
    }
    .photo{
        grid-area: none;
        min-width: 280px;
        height: 250px;
        scroll-snap-stop: always;
        scroll-snap-align: start;
    }
    .blog.container{
        overflow: hidden;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    label[for="burger"]{
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
        z-index: 30;
    }
    .burger_label::before, .burger_label::after, .burger_label span{
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }
    .burger_label::before{
        content: '';
        top: 0;
    }
    .burger_label::after{
        content: '';
        bottom: 0;
    }
    .burger_label span {
        top: 11px;
    }
    #burger:checked ~ .burger_label::after{
        transform: rotate(45deg);
        bottom: 10px;
    }
    #burger:checked ~ .burger_label::before{
        transform: rotate(-45deg);
        top: 12px;
    }
    #burger:checked ~ .burger_label span{
        transform: rotate(-45deg);
        top: 12px;
    }
    .nav_mobile{
        display: block;
        position: fixed;
        background-color: #1A3E3E;
        padding-top: 50px;
        padding-left: 16px;
        padding-right: 16px;
        inset: 0;
        left: -100vw;
        right: 100vw;
        width: 100%;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .nav_mobile .list svg{
        fill: #FDFDFD;
        margin-top: 7px;
    }
    .nav_mobile .list{
        padding-left: revert;
    }
    .nav_mobile .list li {
        width: fit-content;
    }
    #burger:checked ~ .nav_mobile {
        left: 0;
        right: 0;
    }
    .video_block{
        width: auto;
        height: 416px;
        border-radius: 24px;
        background-image: url(images/pic2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    .btn{
        display: block;
        margin: 0 auto;
    }
    .about_text .btn{
        margin-bottom: 40px;
        
    }
    .footer_bottom .container{
        flex-direction: column;
        text-align: center;
    }
    .title br{
        display: none;
    }
    .title{
        padding-top: 234px;
    }
    .program_btn_mobile{
        display: block;
        border: none;
        background-color: #FDFDFD;
        border-radius: 4px;
        padding: 16px 36px;
        color: #1A3E3E;
        font-weight: bold;
    }
}
@media screen and (max-width: 1200px){
    .container{
        padding: 0 16px;
        overflow: hidden;
        width: auto;
    }
    .blog_card {
        max-width: 500px;
    }
    .blog_cards{
        justify-content: center;
    }
    .program{
        flex-wrap: wrap;
    }
}